.App {
  text-align: center;
  height: 100vh;
  margin: 2rem 0 0;
}

html {
  background-color: antiquewhite;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-items:center;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 1em;
}

@media only screen and (max-width: 650px) {
  .container {
    flex-direction: column;
    justify-items: stretch;
    align-items: stretch;
  }
}

button {
  border: solid 1px  rgb(67, 36, 67);
  border-radius: 4px;
  color: antiquewhite;
  font-weight: 600;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: .25em;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-out, color 0.6s ease-in;
}
 
button:hover {
  box-shadow: 0 .25em .5em 0 midnightblue, 0 .5em .5em 0 midnightblue;
  background-color: rgb(67, 36, 67);
  color: ghostwhite;
}

.Got {
  font-family: 'Cinzel Decorative', cursive;
}
